# MongoDB Configuration
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=your-database-name

# OCR Service
OCR_URL=http://127.0.0.1:8011/api/v1/ocr/scan

# Document Parser Service
DOC_PARSER_URL=http://127.0.0.1:8012/api/v1/doc/extract

# ExGate Service
EXGATE_UPLOAD_URL=http://127.0.0.1:8013/api/v1/exgate/upload
EXGATE_LLM_URL=http://127.0.0.1:8013/api/v1/exgate/prompt

# Anti-Cheat Service
ANTICHEAT_URL=http://127.0.0.1:8014/api/v1/anticheat